<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Li328_Coquart_Tome</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>






	<!-- Opération -->
	<servlet>
		<servlet-name>Op</servlet-name>
		<servlet-class>servlet.operation.OperationServlet</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>Op</servlet-name>
		<url-pattern>/Operation</url-pattern>
	</servlet-mapping>






	<!-- Admin -->
	<servlet>
		<servlet-name>ViderMongoDB</servlet-name>
		<servlet-class>servlet.admin.ViderMongoDB</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>ViderMongoDB</servlet-name>
		<url-pattern>/ViderMongoDB</url-pattern>
	</servlet-mapping>






	<!-- User -->
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>servlet.user.CreateUserServlet</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlet.user.DeleteUser</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.user.LoginServlet</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlet.user.LogoutServlet</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddFriend</servlet-name>
		<servlet-class>servlet.user.AddFriendServlet</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AddFriend</servlet-name>
		<url-pattern>/AddFriend</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteFriend</servlet-name>
		<servlet-class>servlet.user.DeleteFriendServlet</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteFriend</servlet-name>
		<url-pattern>/DeleteFriend</url-pattern>
	</servlet-mapping>











	<!-- Statut -->
	<servlet>
		<servlet-name>PosterStatut</servlet-name>
		<servlet-class>servlet.post.PosterStatut</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>PosterStatut</servlet-name>
		<url-pattern>/PosterStatut</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AfficherStatut</servlet-name>
		<servlet-class>servlet.post.AfficherStatut</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AfficherStatut</servlet-name>
		<url-pattern>/AfficherStatut</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LireStatut</servlet-name>
		<servlet-class>servlet.post.LireStatut</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>LireStatut</servlet-name>
		<url-pattern>/LireStatut</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteOneStatut</servlet-name>
		<servlet-class>servlet.post.DeleteOneStatut</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteOneStatut</servlet-name>
		<url-pattern>/DeleteOneStatut</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteCesStatut</servlet-name>
		<servlet-class>servlet.post.DeleteCesStatut</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteCesStatut</servlet-name>
		<url-pattern>/DeleteCesStatut</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AjouterPhoto</servlet-name>
		<servlet-class>servlet.post.AjouterPhotoStatut</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AjouterPhoto</servlet-name>
		<url-pattern>/AjouterPhoto</url-pattern>
	</servlet-mapping>









	<!-- MP -->
	<servlet>
		<servlet-name>AfficherMP</servlet-name>
		<servlet-class>servlet.mp.AfficherMP</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AfficherMP</servlet-name>
		<url-pattern>/AfficherMP</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LireMP</servlet-name>
		<servlet-class>servlet.mp.LireMP</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>LireMP</servlet-name>
		<url-pattern>/LireMP</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SendMP</servlet-name>
		<servlet-class>servlet.mp.SendMP</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>SendMP</servlet-name>
		<url-pattern>/SendMP</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteOneMP</servlet-name>
		<servlet-class>servlet.mp.DeleteOneMP</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteOneMP</servlet-name>
		<url-pattern>/DeleteOneMP</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteCesMP</servlet-name>
		<servlet-class>servlet.mp.DeleteCesMP</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteCesMP</servlet-name>
		<url-pattern>/DeleteCesMP</url-pattern>
	</servlet-mapping>












	<!-- Image -->
	<servlet>
		<servlet-name>AfficheImage</servlet-name>
		<servlet-class>servlet.image.AfficheImage</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AfficheImage</servlet-name>
		<url-pattern>/AfficheImage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ReadImage</servlet-name>
		<servlet-class>servlet.image.ReadImage</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>ReadImage</servlet-name>
		<url-pattern>/ReadImage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SendImage</servlet-name>
		<servlet-class>servlet.image.SendImage</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>SendImage</servlet-name>
		<url-pattern>/SendImage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteOneImage</servlet-name>
		<servlet-class>servlet.image.DeleteOneImage</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteOneImage</servlet-name>
		<url-pattern>/DeleteOneImage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteCesImage</servlet-name>
		<servlet-class>servlet.image.DeleteCesImage</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteCesImage</servlet-name>
		<url-pattern>/DeleteCesImage</url-pattern>
	</servlet-mapping>














	<!-- Comments -->
	<servlet>
		<servlet-name>AfficherComments</servlet-name>
		<servlet-class>servlet.comments.AfficherComments</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AfficherComments</servlet-name>
		<url-pattern>/AfficherComments</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteCesComments</servlet-name>
		<servlet-class>servlet.comments.DeleteCesComments</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteCesComments</servlet-name>
		<url-pattern>/DeleteCesComments</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteCommentsDuTWEET</servlet-name>
		<servlet-class>servlet.comments.DeleteCommentsDuTWEET</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteCommentsDuTWEET</servlet-name>
		<url-pattern>/DeleteCommentsDuTWEET</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteOneComments</servlet-name>
		<servlet-class>servlet.comments.DeleteOneComments</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteOneComments</servlet-name>
		<url-pattern>/DeleteOneComments</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ReadComments</servlet-name>
		<servlet-class>servlet.comments.ReadComments</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>ReadComments</servlet-name>
		<url-pattern>/ReadComments</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ReadCommentsDuTWEET</servlet-name>
		<servlet-class>servlet.comments.ReadCommentsDuTWEET</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>ReadCommentsDuTWEET</servlet-name>
		<url-pattern>/ReadCommentsDuTWEET</url-pattern>
	</servlet-mapping>
	
		
	<servlet>
		<servlet-name>SendComments</servlet-name>
		<servlet-class>servlet.comments.SendComments</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>SendComments</servlet-name>
		<url-pattern>/SendComments</url-pattern>
	</servlet-mapping>











	<!-- Like -->
	<servlet>
		<servlet-name>AfficherLike</servlet-name>
		<servlet-class>servlet.like.AfficherLike</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>AfficherLike</servlet-name>
		<url-pattern>/AfficherLike</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteCesLikes</servlet-name>
		<servlet-class>servlet.like.DeleteCesLikes</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteCesLikes</servlet-name>
		<url-pattern>/DeleteCesLikes</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteLikesDuTWEET</servlet-name>
		<servlet-class>servlet.like.DeleteLikesDuTWEET</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteLikesDuTWEET</servlet-name>
		<url-pattern>/DeleteLikesDuTWEET</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteOneLike</servlet-name>
		<servlet-class>servlet.like.DeleteOneLike</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>DeleteOneLike</servlet-name>
		<url-pattern>/DeleteOneLike</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ReadLike</servlet-name>
		<servlet-class>servlet.like.ReadLike</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>ReadLike</servlet-name>
		<url-pattern>/ReadLike</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ReadLikeDuTWEET</servlet-name>
		<servlet-class>servlet.like.ReadLikesDuTWEET</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>ReadLikeDuTWEET</servlet-name>
		<url-pattern>/ReadLikeDuTWEET</url-pattern>
	</servlet-mapping>
	
		
	<servlet>
		<servlet-name>SendLike</servlet-name>
		<servlet-class>servlet.like.SendLike</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>SendLike</servlet-name>
		<url-pattern>/SendLike</url-pattern>
	</servlet-mapping>
</web-app>